:root{
    --colortitles: darkred;
    --biancoscuro: rgb(235, 235, 235);
    --firstfont: Nova Square;
}

.navcolor{
    color: var(--colortitles) !important;
}

/* ul */
.navbar-nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* manda a capo di default  con schermo piccolo */
    justify-content: center;
}



.sfondoheader{
    background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(0,0,0,0) 100%), url("./media/sfondoprincipale.jpg") ;
    /* IMPORTANTE: PER AVERE UN IMMAGINE + SFUMATURA STRUTTURARE IL CODICE IN QUESTO MODO */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
}

.darkwhite{
    background-color: var(--biancoscuro);
}

.titolo1{
    font-family: Nova Square;
    color: var(--colortitles);
    letter-spacing: 2vw;
}

.sezione1{
    background-color: var(--biancoscuro);
}

h5{
    font-family: var(--firstfont);
    font-style: italic;
    font-weight: 100;
    padding: 10% 15%;
}

#p1{
    color: var(--colortitles);
    font-size: xx-large;
}




/* mediaquery per montagna bianca da rimpicciolire da schermo grande */
@media screen and (min-width:700px) {

    .w-schermopc{
        width: 90vw !important;
        height: 70%;
        left: 0px;
    }

    .navbar-nav{
        display: flex;

    }

}
